# EYN-OS UI Preferences
font=/fonts/default.otf
title_focused=112,112,112
title_unfocused=86,86,86
status=74,74,74
status_text=240,240,240
status_bar_mode=0
workspace_scale=100
workspace_aspect=0
display_width=640
display_height=480
display_bpp=32
