# EYN-OS UI Preferences
font=/fonts/unscii-16.hex
title_focused=95,95,95
title_unfocused=65,65,65
status=30,30,30
status_text=255,255,255
status_bar_mode=0
workspace_scale=100
workspace_aspect=0
display_width=800
display_height=600
display_bpp=32